.navbar-horizontal {
	position: fixed;
	z-index: 3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: inherit;
    display: block;
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, .4);
}
.active {
	background-color: rgba(0,0,0,.4) !important;
}

.navbar-item {
    float: left;
}
.item {
    display: block;
    padding: 8px;
    background-color: rgba(255, 255, 255, .4);
    text-decoration: none;
    width: 100px;
    height: 30px;
    color: white;
    text-align: center;
  	padding: 15px;
}

.item:hover{
	background-color: black !important;
}